<aside class="sidebar bg-white border-end">
    <div class="p-3">
        <nav class="nav flex-column mb-3">
            <a class="nav-link active" href="/player/dashboard"><%= t('player.sidebar.dashboard') %></a>
            <a class="nav-link" href="/player/tournaments"><%= t('player.sidebar.find_tournaments') %></a>
            <a class="nav-link" href="/player/my-tournaments"><%= t('player.sidebar.my_tournaments') %></a>
            <a class="nav-link" href="/player/stats"><%= t('player.sidebar.my_stats') %></a>
            <a class="nav-link" href="/player/profile"><%= t('player.sidebar.my_profile') %></a>
        </nav>
    </div>
</aside>
<div class="sidebar-overlay"></div>